node_modules
npm-debug.log


aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin 490485542279.dkr.ecr.us-west-2.amazonaws.com;
docker pull 490485542279.dkr.ecr.us-west-2.amazonaws.com/week3:latest;


docker run -p 3000:3000 490485542279.dkr.ecr.us-west-2.amazonaws.com/week3

